/* Fonts
font-family: 'Dosis', sans-serif;
font-weight: 400, 700, 800;

font-family: 'Exo', sans-serif;
font-weight: 400, 600;

font-family: 'Special Elite', cursive;
*/

@001: rgb(57, 0, 122);
@001-1: rgb(40, 0, 87);
@001-2: rgb(24, 0, 51);
@002: rgb(0, 69, 178);
@003: rgb(0, 113, 211);
@004: rgb(0, 153, 221);
@005: rgb(0, 190, 214);
@006: rgb(0, 226, 200);

// @001: #39007a;
// @002: #0045b2;
// @003: #0071d3;
// @004: #0099dd;
// @005: #00bed6;
// @006: #00e2c8;

.default-gradient {
  background-image: linear-gradient(
    to right top,
    @001,
    @002,
    @003,
    @004,
    @005,
    @006
  );
}
body {
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-size: 22px;
}
@media only screen and (max-width: 1199px) {
  body {
    font-size: 20px;
  }
}
/* START SCROLLBAR */
* {
  scrollbar-width: thin;
  scrollbar-color: @006 @001;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: @004;
}

*::-webkit-scrollbar-thumb {
  .default-gradient;
  border-radius: 20px;
  border: 3px solid @006;
}
/* END SCROLLBAR */
a {
  color: inherit;
  text-decoration: none;
  line-height: 1;
}
button:focus {
  outline: none;
}
.title,
h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  span {
    font-size: 0.7em;
    font-weight: 400;
  }
}
.title {
  text-align: center;
}
.typewriter {
  &.manual {
    font-family: 'Special Elite', cursive;
    font-size: clamp(2rem, 3vw + 1rem, 3.25rem);
    letter-spacing: 0.15em;
    margin-bottom: 0;
  }
}
@keyframes blink {
  from {
    border-right-color: rgba(255, 255, 255, 1);
  }
  to {
    border-right-color: transparent;
  }
}
#typewrite > .wrap {
  position: relative;
  padding-right: 2px;
  border-right: 4px solid;
  animation: blink 1s steps(40) infinite normal;
  font-size: 1.2em;
  // color: @006;
}
.divider {
  border-bottom: 3px solid;
  width: 80px;
  margin: 0 auto 16px;
}
.contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .content b {
    font-weight: 700;
  }
}
.transform-transit(@y, @delay, @timing-y2: 'empty')
  when
  (isnumber(@timing-y2)) {
  transform: translateY(@y);
  transition: transform @delay cubic-bezier(0.3, 0.7, 0.4, @timing-y2);
}
.transform-transit(@y, @delay, @timing-y2: 'empty')
  when
  not
  (isnumber(@timing-y2)) {
  transform: translateY(@y);
  transition: transform @delay;
}
.btn-3d {
  display: inline-block;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  text-transform: uppercase;
  &:hover {
    filter: brightness(110%);
    .front {
      .transform-transit(-6px, 250ms, 1.5);
    }
    .shadow {
      .transform-transit(4px, 250ms, 1.5);
    }
  }
  &:active {
    .front {
      .transform-transit(-2px, 34ms);
    }
    .shadow {
      .transform-transit(1px, 34ms);
    }
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
  .shadow,
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
  .shadow {
    background: rgba(0, 0, 0, 0.25);
    will-change: transform;
    .transform-transit(2px, 600ms, 1);
  }
  .edge {
    background: linear-gradient(
      to left,
      @001-2 0%,
      @001-1 8%,
      @001-1 92%,
      @001-2 100%
    );
  }
  .front {
    display: block;
    position: relative;
    padding: 12px 16px 8px;
    border-radius: 12px;
    color: white;
    background: @001;
    will-change: transform;
    .transform-transit(-4px, 600ms, 1);
  }
}
section {
  padding-top: 16px;
  padding-bottom: 16px;
  color: white;
  .default-gradient;
}
#home {
  height: 100vh;
  display: flex;
  align-items: center;
  .default-gradient;
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    h1 {
      color: @002;
    }
  }
  #myCanvas {
    width: 100%;
  }
}
#about {
  .image {
    text-align: center;
  }
  img {
    width: 100%;
    max-width: 200px;
  }
}
#experience {
  .accordion-item {
    background-color: transparent;
    border: none;
  }
  .accordion-header {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-bottom: unset;
    .header {
      width: 90%;
      > div {
        display: flex;
        justify-content: space-between;
      }
      span {
        display: block;
      }
    }
  }
  .btn-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 16px;
    &.btn {
      border-radius: unset;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    .fa-chevron-up {
      display: inline-block;
    }
    .fa-chevron-down {
      display: none;
    }
    &.collapsed {
      .fa-chevron-up {
        display: none;
      }
      .fa-chevron-down {
        display: inline-block;
      }
    }
  }
  .accordion-body ul {
    padding-inline-start: 20px;
  }
}
#portfolio {
  .contents {
    justify-content: center;
  }
  .w33 {
    width: calc(100% - 16px);
    padding: 8px;
    margin: 8px;
    border-radius: 15px;
    position: relative;
    letter-spacing: 0;
    &:nth-child(5n + 1) {
      background-color: @001;
    }
    &:nth-child(5n + 2) {
      background-color: @002;
    }
    &:nth-child(5n + 3) {
      background-color: @003;
    }
    &:nth-child(5n + 4) {
      background-color: @004;
    }
    &:nth-child(5n + 5) {
      background-color: @005;
    }
    .image,
    .content,
    .btn {
      transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    .image {
      background-size: cover;
      height: 45.4vw;
      border-radius: 6px;
    }
    .content,
    .btn {
      position: absolute;
      left: 0;
      right: 0;
      color: white;
      text-align: center;
      opacity: 0;
    }
    .content {
      top: 0;
      .name {
        font-weight: 700;
        font-size: 0.9em;
      }
      .skills {
        font-size: 12px;
      }
    }
    .btn {
      bottom: 0;
      border: 2px solid white;
      margin: 0 auto;
      width: 150px;
      padding: 8px 0;
      line-height: 1;
      text-transform: uppercase;
      font-size: 15px;
      cursor: pointer;
    }
    &:hover {
      .image {
        opacity: 0;
      }
      .content,
      .btn {
        opacity: 1;
      }
      .content {
        top: 32px;
      }
      .btn {
        bottom: 32px;
      }
    }
  }
}
#resume {
  .slider-wrap {
    padding-top: 0;
    padding-bottom: 2rem;
  }
  .resume-slider {
    .slick-prev:before,
    .slick-next:before {
      color: white;
    }
  }
  .contents {
    justify-content: space-between;
  }
  .major {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 700;
    letter-spacing: 0;
    span {
      font-weight: 300;
      font-size: 15px;
    }
  }
  .school {
    margin-bottom: 1.5rem;
  }
  ul {
    margin-bottom: 0;
  }
  #edu ul {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
  }
}
.links {
  .pentagon {
    background-image: url('/images/pentagon.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 92px;
    height: 92px;
    position: relative;
    margin-left: 4px;
    margin-right: 4px;
    &:hover {
      background-image: url('/images/pentagon-w.png');
      .link-contact {
        color: @001;
      }
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    .link-contact {
      position: absolute;
      color: white;
      &#email {
        font-size: 19px;
        font-weight: 700;
        top: 38%;
        left: 14%;
      }
      &#github {
        font-size: 49px;
        left: 27%;
        top: 18%;
      }
      &#code-camp {
        font-size: 42px;
        left: 22%;
        top: 23%;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .title {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .divider {
    margin-bottom: 3rem;
  }
  #about {
    img {
      max-width: unset;
    }
  }
  #experience {
    .card-header .header span {
      display: inline-block;
    }
    .btn-link {
      font-size: 23px;
      padding: 20px;
    }
  }
  #portfolio .w33 {
    width: 47%;
    .image {
      height: 22.6vw;
    }
  }
  #resume {
    .contents {
      font-size: 19px;
    }
    .major span {
      font-size: 17px;
    }
  }
  .links .btn {
    padding: 8px 32px;
    font-size: 30px;
    width: 180px;
    &.icon {
      font-size: 45px;
    }
  }
}
@media only screen and (max-width: 991px) {
  body {
    font-size: 18px;
  }
  #home {
    padding-top: 136px;
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 565px) {
  body {
    font-size: 16px;
  }
  #home {
    padding-top: 106px;
    .left {
      gap: 0;
    }
  }
}
@media only screen and (min-width: 992px) {
  #portfolio .w33 {
    width: 31%;
    .image {
      height: 15vw;
    }
  }
  #resume {
    .slider-wrap {
      padding-top: 1rem;
      padding-bottom: 6rem;
    }
  }
}
@media only screen and (max-width: 1199px) {
  #portfolio .w33 .content .name {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  #experience .card-header .header div {
    display: inline-block;
  }
  #portfolio .w33 {
    .image {
      height: 220px;
    }
  }
  #resume {
    .contents,
    .major span {
      font-size: 22px;
    }
  }
}
