@blue: #004b85;
@dark-blue: #00365f;
@shadow-blue: #00223c;

header {
  color: white;
  background: transparent;
  // border-bottom: 3px solid white;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  &.scrolled {
    background-image: linear-gradient(
      to right,
      rgba(40, 0, 87, 0.5),
      rgba(0, 55, 137, 0.5),
      rgba(0, 99, 171, 0.5),
      rgba(0, 140, 190, 0.5),
      rgba(0, 181, 197, 0.5),
      rgba(80, 219, 200, 0.5)
    );
  }
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
}
a {
  color: inherit;
  text-decoration: none;
}
.navbar-brand {
  font-family: 'Lemonada', cursive;
  text-align: center;
  width: 235px;
  h1,
  .brand {
    line-height: 1;
    margin-bottom: 0;
    font-size: 24px;
  }
  #logo img {
    width: 70px;
  }
}
h3,
.sub-title {
  font-size: 17px;
}
.sub-title {
  font-weight: 700;
  text-transform: uppercase;
}
#pentagon {
  background-image: url('/images/pentagon-border-1.png');
  background-size: cover;
  width: 45px;
  height: 45px;
  opacity: 0.7;
  &:focus {
    opacity: 1;
  }
}
.pentagon-bg {
  position: relative;
  width: 54px;
  box-sizing: content-box;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: @blue transparent;
}
.pentagon-bg:before {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent @blue;
}
.navbar-toggler {
  padding: 0.25rem 0.65rem;
  border: none;
}
button:focus {
  outline: none;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  margin-top: 7px;
  width: 1.2em;
  height: 1.2em;
}
.navbar-nav {
  flex-grow: 1;
  justify-content: space-evenly;
}
.nav-item {
  a.btn {
    color: #50dbc8;
    background-color: #280057;
    border: 2px solid #280057;
    &:hover {
      background-color: transparent;
      color: #280057;
    }
  }
}
.nav-link {
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px #280057;
  &.active {
    font-weight: 700;
    letter-spacing: 2px;
  }
}
footer {
  color: white;
  background: @blue;
  padding-top: 16px;
  .contact {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    a:hover {
      color: white;
      text-decoration: none;
    }
  }
  .copyright {
    margin-top: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    background-color: @dark-blue;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-brand {
    h1,
    .brand {
      font-size: 32px;
    }
    .description,
    .sub-brand {
      word-spacing: 8px;
      letter-spacing: 4px;
    }
  }
  #pentagon {
    width: 55px;
    height: 55px;
  }
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
  }
  .navbar-toggler-icon {
    width: 1.5em;
    height: 1.5em;
  }
  h3,
  .sub-title {
    font-size: 1.75rem;
  }
  footer {
    padding-top: 43px;
    .copyright {
      margin-top: 75px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  // header,
  // footer {
  //   background: linear-gradient(
  //     to right,
  //     @shadow-blue,
  //     @blue 30%,
  //     @blue 70%,
  //     @shadow-blue
  //   );
  // }
  footer .copyright {
    background: linear-gradient(
      to right,
      @shadow-blue,
      @dark-blue 30%,
      @dark-blue 70%,
      @shadow-blue
    );
  }
  footer {
    padding-top: 75px;
    .contact {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
