<div class="container">
  <h2 class="title">About</h2>
  <div class="divider"></div>
  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="image"><img src="/images/about.png" alt="Jin"></div>
    </div>
    <div class="col-12 col-sm-8">
      <div class="content">
        <p>Nice to meet you, I am Jungjin Park. <br/>
          Since earning 3 Year Advanced Diploma in <b>Computer Programming and Analysis</b> from Niagara College, I have been working as a web developer for <b>three years</b>. <br/>
          I have developed web projects for <b>clients in diverse industries</b> including restaurant, community health, hospitality, retail, musicians, technology, and real estate. <br/>
          I was involved in <b>the development and web responsive design</b> process for all web projects, and I managed enhancement requests after each rollout.</p>
      </div>
    </div>
  </div>
</div>
