<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="image"><img src="/images/about.png" alt="Jin"></div>
    </div>
    <div class="col-12 col-sm-8">
      <h2 class="title">About</h2>
      <div class="divider"></div>
      <div class="content">
        <p>I am a Web Developer living in Victory, BC.</p>
        <p>Creating responsive websites, maintaining clients' homepages, and applying customers' requests quickly.</p>
        <p>Solving problems, organizing well, and working independently with high attention to detail.</p>
        <p>Riding a bicycle, walking on the beach, and watching movies. A family person and father of two lovely children.</p>
      </div>
    </div>
  </div>
</div>
