<div class="modal fade" id="weinkeller" tabindex="-1" role="dialog" aria-labelledby="weinkeller_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-slider-wrap">
          <div class="slider">
            <div><img src="/images/portfolio/weinkeller.jpg" alt=""></div>
            <div><img src="/images/portfolio/weinkeller_device.jpg" alt=""></div>
            <div><img src="/images/portfolio/weinkeller_1.jpg" alt=""></div>
            <div><img src="/images/portfolio/weinkeller_2.jpg" alt=""></div>
            <div><img src="/images/portfolio/weinkeller_3.jpg" alt=""></div>
          </div>
        </div>
      </div>
      <div class="modal-description">
        <h3 class="modal-title" id="weinkeller_title">Weinkeller</h3>
        <div class="modal-detail">A Craft Winery and Locally sourced, fresh food Canadian experience</div>
      </div>
      <div class="modal-header">
        <a class="btn blue" href="https://www.weinkeller.ca/" target="_blank">View Site</a>
        <button type="button" class="btn red" data-dismiss="modal"><i class="fa fa-close fa-2x"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="grimsby" tabindex="-1" role="dialog" aria-labelledby="grimsby_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-slider-wrap">
          <div class="slider">
            <div><img src="/images/portfolio/grimsbypower.jpg" alt=""></div>
            <div><img src="/images/portfolio/grimsbypower_device.jpg" alt=""></div>
            <div><img src="/images/portfolio/grimsbypower_2.jpg" alt=""></div>
            <div><img src="/images/portfolio/grimsbypower_3.jpg" alt=""></div>
          </div>
        </div>
      </div>
      <div class="modal-description">
        <h3 class="modal-title" id="grimsby_title">Grimsby Power</h3>
        <div class="modal-detail">Grimsby Power Incorporated is a Local Distribution Company (LDC) with an emphasis on local.  Grimsby Power is responsible for distributing power to customers within the Town of Grimsby.</div>
      </div>
      <div class="modal-header">
        <a class="btn blue" href="http://grimsbypower.com/" target="_blank">View Site</a>
        <button type="button" class="btn red" data-dismiss="modal"><i class="fa fa-close fa-2x"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="hestian" tabindex="-1" role="dialog" aria-labelledby="hestian_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-slider-wrap">
          <div class="slider">
            <div><img src="/images/portfolio/hestiancustomfires.jpg" alt=""></div>
            <div><img src="/images/portfolio/hestiancustomfires_device.jpg" alt=""></div>
            <div><img src="/images/portfolio/hestiancustomfires_1.jpg" alt=""></div>
            <div><img src="/images/portfolio/hestiancustomfires_2.jpg" alt=""></div>
          </div>
        </div>
      </div>
      <div class="modal-description">
        <h3 class="modal-title" id="hestian_title">Hestian Custom Fires</h3>
        <div class="modal-detail">With over 25 years experience, Hestian Custom Fires strives to impact people through places.</div>
      </div>
      <div class="modal-header">
        <a class="btn blue" href="http://hestiancustomfires.com/" target="_blank">View Site</a>
        <button type="button" class="btn red" data-dismiss="modal"><i class="fa fa-close fa-2x"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="drogon" tabindex="-1" role="dialog" aria-labelledby="drogon_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-slider-wrap">
          <div class="slider">
            <div><img src="/images/portfolio/dragonseyeconsulting.jpg" alt=""></div>
            <div><img src="/images/portfolio/dragonseyeconsulting_device.jpg" alt=""></div>
            <div><img src="/images/portfolio/dragonseyeconsulting_1.jpg" alt=""></div>
            <div><img src="/images/portfolio/dragonseyeconsulting_2.jpg" alt=""></div>
          </div>
        </div>
      </div>
      <div class="modal-description">
        <h3 class="modal-title" id="drogon_title">Dragon's Eye Consulting</h3>
        <div class="modal-detail">Dragon's Eye has nearly three decades of experience across 10 industries, with a strong track record of expanding revenues, overseeing successful initiatives, and building a winning culture.</div>
      </div>
      <div class="modal-header">
        <a class="btn blue" href="https://dragonseyeconsulting.com/" target="_blank">View Site</a>
        <button type="button" class="btn red" data-dismiss="modal"><i class="fa fa-close fa-2x"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="cch" tabindex="-1" role="dialog" aria-labelledby="cch_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-slider-wrap">
          <div class="slider">
            <div><img src="/images/portfolio/compassch.jpg" alt=""></div>
            <div><img src="/images/portfolio/compassch_device.jpg" alt=""></div>
            <div><img src="/images/portfolio/compassch_1.jpg" alt=""></div>
            <div><img src="/images/portfolio/compassch_2.jpg" alt=""></div>
            <div><img src="/images/portfolio/compassch_3.jpg" alt=""></div>
            <div><img src="/images/portfolio/compassch_4.jpg" alt=""></div>
          </div>
        </div>
      </div>
      <div class="modal-description">
        <h3 class="modal-title" id="cch_title">Compass Community Health</h3>
        <div class="modal-detail">For over thirty years, the Health Centre has been a mainstay in Hamilton’s North End communities</div>
      </div>
      <div class="modal-header">
        <a class="btn blue" href="https://compassch.org/" target="_blank">View Site</a>
        <button type="button" class="btn red" data-dismiss="modal"><i class="fa fa-close fa-2x"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="awsum" tabindex="-1" role="dialog" aria-labelledby="awsum_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-slider-wrap">
          <div class="slider">
            <div><img src="/images/portfolio/awsumwoodproducts.jpg" alt=""></div>
            <div><img src="/images/portfolio/awsumwoodproducts_device.jpg" alt=""></div>
            <div><img src="/images/portfolio/awsumwoodproducts_1.jpg" alt=""></div>
            <div><img src="/images/portfolio/awsumwoodproducts_2.jpg" alt=""></div>
          </div>
        </div>
      </div>
      <div class="modal-description">
        <h3 class="modal-title" id="awsum_title">Awsum Wood Products</h3>
        <div class="modal-detail">Awsum Wood Products craftS from locally salvaged trees in Bruce County.</div>
      </div>
      <div class="modal-header">
        <a class="btn blue" href="http://awsumwoodproducts.com/" target="_blank">View Site</a>
        <button type="button" class="btn red" data-dismiss="modal"><i class="fa fa-close fa-2x"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="calorie" tabindex="-1" role="dialog" aria-labelledby="calorie_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-slider-wrap">
          <div class="slider">
            <div><img src="/images/portfolio/caloriewizapp.jpg" alt=""></div>
            <div><img src="/images/portfolio/caloriewizapp_1.jpg" alt=""></div>
            <div><img src="/images/portfolio/caloriewizapp_2.jpg" alt=""></div>
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/30KmliGmh7Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          </div>
        </div>
      </div>
      <div class="modal-description">
        <h3 class="modal-title" id="calorie_title">Calorie Wiz App</h3>
        <div class="modal-detail">Calorie Counter Mobile Application</div>
      </div>
      <div class="modal-header">
        <div>
          <a class="btn blue" href="http://caloriewizapp.com/" target="_blank">View Site</a>
          <a class="btn blue" href="https://youtu.be/30KmliGmh7Y" target="_blank">Youtube</a>
        </div>
        <button type="button" class="btn red" data-dismiss="modal"><i class="fa fa-close fa-2x"></i></button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal fade" id="coosha" tabindex="-1" role="dialog" aria-labelledby="coosha_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-slider-wrap">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/_ThGxDx7F5U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-description">
        <h3 class="modal-title" id="coosha_title">Coosha Calendar</h3>
        <div class="modal-detail">Calendar Mobile Application</div>
      </div>
      <div class="modal-header">
        <div></div>
        <button type="button" class="btn red close-modal" data-dismiss="modal"><i class="fa fa-close fa-2x"></i></button>
      </div>
    </div>
  </div>
</div> -->
<div class="modal fade" id="side" tabindex="-1" role="dialog" aria-labelledby="side_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-slider-wrap">
          <div class="slider">
            <div><img src="/images/portfolio/side_1.png" alt=""></div>
            <div><img src="/images/portfolio/side_2.png" alt=""></div>
            <div><img src="/images/portfolio/side_3.png" alt=""></div>
            <div><img src="/images/portfolio/side_4.png" alt=""></div>
            <div><img src="/images/portfolio/side_5.png" alt=""></div>
            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/ftJXY-xQm80" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          </div>
        </div>
      </div>
      <div class="modal-description">
        <h3 class="modal-title" id="side_title">Reactjs / C#</h3>
        <div class="modal-detail">
          
        </div>
      </div>
      <div class="modal-header">
        <div>
        <a class="btn blue" href="https://canadaprogrammer.github.io/drum-machine/" target="_blank">Drum Machine</a>
        <a class="btn blue" href="https://canadaprogrammer.github.io/javascript-calculator/" target="_blank">Calculator</a>
        <a class="btn blue" href="https://canadaprogrammer.github.io/random-quote-machine/" target="_blank">Random Quote</a>
        <a class="btn blue" href="https://canadaprogrammer.github.io/pomodoro-clock/" target="_blank">Pomodoro</a>
        <a class="btn blue" href="https://youtu.be/ftJXY-xQm80" target="_blank">Stopwatch</a>
        </div>
        <button type="button" class="btn red" data-dismiss="modal"><i class="fa fa-close fa-2x"></i></button>
      </div>
    </div>
  </div>
</div>