<div class="container">
  <h2 class="title">Contact</h2>
  <div class="divider"></div>
  <div class="d-flex flex-column align-items-center">
    <div class="title text-center mb-3 mb-md-5">I'd love to hear from you.</div>
    <div class="text-center mb-3 mb-md-5">Got a project you would like me to work on? <br/>Or do you want to know about me more?</div>
    <div class="links d-flex align-items-center">
      <a class="pentagon" href="mailto:jinpark1504@gmail.com" target="_blank">
        <div class="link-contact" id="email">E-mail</div>
      </a>
      <a class="pentagon" href="https://github.com/canadaprogrammer" target="_blank">
        <div class="link-contact" id="github"><i class="fa fa-github" aria-hidden="true"></i></div>
      </a>
      <a class="pentagon" href="https://www.freecodecamp.org/jin_programmer" target="_blank">
        <div class="link-contact" id="code-camp"><i class="fa fa-free-code-camp" aria-hidden="true"></i></div>
      </a>
    </div>
  </div>
</div>
