<div class="container">
  <h2 class="title">Experience</h2>
  <div class="divider"></div>
  <div>
    <div class="accordion w-100" id="work">
      <div class="accordion-item">
        <div class="accordion-header" id="danima">
          <div class="btn btn-link content" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="header">
              <div>DANIMA Creative Group <span>- Niagara Falls, ON </span></div>
              <div><b>Web Developer</b> <span>July 2019 to Present</span></div>
            </div>
            <div class="detail"><i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up active"></i></div>
          </div>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="danima" data-bs-parent="#work">
          <div class="accordion-body">
            <ul>
              <li>Developed websites by using HTML, JavaScript, jQuery, Ajax, Bootstrap, LESS and CSS</li>
              <li>Worked on projects by using PHP MVC framework</li>
              <li>Set up and maintained server by using Cpanel</li>
              <li>Worked on responsive web design</li>
              <li>Modified webpages in order to conform to Accessibility for Ontarians with Disabilities Act</li>
              <li>Managed social networks by putting Open Graph Meta Tags</li>
              <li>Supported clients for maintaining and updating their homepages</li>
              <li>Worked alone, with a web designer and a senior developer</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header" id="futureaccess">
          <div class="btn btn-link content collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="header">
              <div>Future Access Inc. <span>- St. Catharines, ON </span></div>
              <div><b>Web Developer</b> <span>May 2017 to May 2018</span></div>
            </div>
            <div class="detail"><i class="fa fa-chevron-down active"></i><i class="fa fa-chevron-up"></i></div>
          </div>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="futureaccess" data-bs-parent="#work">
          <div class="accordion-body">
            <ul>
              <li>Developed web pages by using PHP, JavaScript, jQuery, Ajax, CSS and HTML</li>
              <li>Coded for unit testing REST API using Laravel (PHP Framework)</li> 
              <li>Maintained database by using phpMyAdmin, MySQL and Migrations</li>
              <li>Modified REST API using Express (Nodejs Web Application Framework)</li> 
              <li>Synchronizing a calendar of project with Google Calendar API and Outlook API</li>
              <li>Controlled developing version by using Git repository
              <li>Installed OpenSSL on Linux server</li>
              <li>Set up AWS and moved developed project on it</li>
              <li>Worked with an app developer and alone</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
