<nav class="navbar navbar-expand-lg container">
  <div class="navbar-brand">
    <img src="/images/logo.png" /><span class="description">Web<br/>Developer</span>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" id="pentagon">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navigation">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="nav-link active" dest="about">About</div>
      </li>
      <li class="nav-item">
        <div class="nav-link" dest="experience">Experience</div>
      </li>
      <li class="nav-item">
        <div class="nav-link" dest="portfolio">Portfolio</div>
      </li>
      <li class="nav-item">
        <div class="nav-link" dest="contact">Contact</div>
      </li>
      <li class="nav-item">
        <a class="btn-3d" href="/resources/resume.pdf">
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front">Resume</span>
        </a>
      </li>
    </ul>
  </div>
</nav>