
  <div class="container">
    <div class="row">
      <div class="left col-12 col-lg-5">
        <h1>Hi, <span>my name is</span></h1>
        <div class="typewriter manual">Jungjin Park,</div>
        <div id="typewrite" data-type='["Web Developer","Front-End Developer","PHP / Javascript"]'>
          <span class="wrap"></span>
        </div>
      </div>
      <div class="skills-animation col-12 col-lg-7">
        <div id="myCanvasContainer">
          <canvas width="300" height="300" id="myCanvas">
            <ul>
              <li>
                <a>HTML</a>
              </li>
              <li>
                <a>CSS</a>
              </li>
              <li>
                <a>JavaScript</a>
              </li>
              <li>
                <a>PHP</a>
              </li>
              <li>
                <a>JSON</a>
              </li>
              <li>
                <a>ReactJS</a>
              </li>
              <li>
                <a>NextJS</a>
              </li>
              <li>
                <a>LESS</a>
              </li>
              <li>
                <a>ES5/ES6</a>
              </li>
              <li>
                <a>SQL</a>
              </li>
              <li>
                <a>Git</a>
              </li>
              <li>
                <a>HTML</a>
              </li>
              <li>
                <a>NodeJS</a>
              </li>
              <li>
                <a>jQuery</a>
              </li>
              <li>
                <a>Bootstrap</a>
              </li>
              <li>
                <a>C#</a>
              </li>
              <li>
                <a>Ajax</a>
              </li>
              <li>
                <a>Python</a>
              </li>
              <li>
                <a>npm</a>
              </li>
              <li>
                <a>Postman</a>
              </li>
              <li>
                <a>Google APIs</a>
              </li>
            </ul>
          </canvas>
        </div>
      </div>
    </div>
  </div>

  
  