<div class="container">
  <h2 class="title">Portfolio</h2>
  <div class="divider"></div>
  <div class="row">
    <div class="w33 web">
      <div class="image" style="background-image:url('/images/portfolio/grimsbypower.jpg');"></div>
      <div class="content">
        <div class="name">NPEI</div>
        <div class="skills"></div>
      </div>
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#npei">Learn More</button>
    </div>
    <div class="w33 web">
      <div class="image" style="background-image:url('/images/portfolio/grimsbypower.jpg');"></div>
      <div class="content">
        <div class="name">St. Marks</div>
        <div class="skills"></div>
      </div>
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#stmarks">Learn More</button>
    </div>
    <div class="w33 web">
      <div class="image" style="background-image:url('/images/portfolio/weinkeller.jpg');"></div>
      <div class="content">
        <div class="name">Football Niagara</div>
        <div class="skills"></div>
      </div>
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#football">Learn More</button>
    </div>
    <div class="w33 web">
      <div class="image" style="background-image:url('/images/portfolio/dragonseyeconsulting.jpg');"></div>
      <div class="content">
        <div class="name">Diocese</div>
        <div class="skills"></div>
      </div>
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#diocese">Learn More</button>
    </div>
    <div class="w33 web">
      <div class="image" style="background-image:url('/images/portfolio/hestiancustomfires.jpg');"></div>
      <div class="content">
        <div class="name">Helen's Daily</div>
        <div class="skills"></div>
      </div>
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#helen">Learn More</button>
    </div>
    <div class="w33 web">
      <div class="image" style="background-image:url('/images/portfolio/compassch.jpg');"></div>
      <div class="content">
        <div class="name">Health Zone</div>
        <div class="skills"></div>
      </div>
      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#health">Learn More</button>
    </div>
  </div>
</div>
