<div class="container">
  <h2 class="title">Portfolio</h2>
  <div class="divider"></div>
  <div class="row">
    <div class="w33 web">
      <div class="image" style="background-image:url('/images/portfolio/grimsbypower.jpg');"></div>
      <div class="content">
        <div class="name">Grimsby Power</div>
        <div class="skills">Website</div>
      </div>
      <button type="button" class="btn" data-toggle="modal" data-target="#grimsby">Learn More</button>
    </div>
    <div class="w33 web">
      <div class="image" style="background-image:url('/images/portfolio/weinkeller.jpg');"></div>
      <div class="content">
        <div class="name">Weinkeller</div>
        <div class="skills">Website</div>
      </div>
      <button type="button" class="btn" data-toggle="modal" data-target="#weinkeller">Learn More</button>
    </div>
    <div class="w33 web">
      <div class="image" style="background-image:url('/images/portfolio/hestiancustomfires.jpg');"></div>
      <div class="content">
        <div class="name">Hestian Custom Fires</div>
        <div class="skills">Website</div>
      </div>
      <button type="button" class="btn" data-toggle="modal" data-target="#hestian">Learn More</button>
    </div>
    <div class="w33 web">
      <div class="image" style="background-image:url('/images/portfolio/dragonseyeconsulting.jpg');"></div>
      <div class="content">
        <div class="name">Drogon's Eye Consulting</div>
        <div class="skills">Website</div>
      </div>
      <button type="button" class="btn" data-toggle="modal" data-target="#drogon">Learn More</button>
    </div>
    <div class="w33 web">
      <div class="image" style="background-image:url('/images/portfolio/compassch.jpg');"></div>
      <div class="content">
        <div class="name">Compass Community Health</div>
        <div class="skills">Website</div>
      </div>
      <button type="button" class="btn" data-toggle="modal" data-target="#cch">Learn More</button>
    </div>
    <div class="w33 web">
      <div class="image" style="background-image:url('/images/portfolio/awsumwoodproducts.jpg');"></div>
      <div class="content">
        <div class="name">Awsum Wood Products</div>
        <div class="skills">Website</div>
      </div>
      <button type="button" class="btn" data-toggle="modal" data-target="#awsum">Learn More</button>
    </div>
    <div class="w33 mobile">
      <div class="image" style="background-image:url('/images/portfolio/caloriewizapp.jpg');"></div>
      <div class="content">
        <div class="name">Calorie Wiz</div>
        <div class="skills">Web / Mobile</div>
      </div>
      <button type="button" class="btn" data-toggle="modal" data-target="#calorie">Learn More</button>
    </div>
    <div class="w33 mobile">
      <div class="image" style="background-image:url('/images/portfolio/portfolio_2.png');"></div>
      <div class="content">
        <div class="name">Coosha Calendar</div>
        <div class="skills">Mobile</div>
      </div>
      <!-- <button type="button" class="btn" data-toggle="modal" data-target="#coosha">Learn More</button> -->
      <a class="btn" href="https://youtu.be/_ThGxDx7F5U" target="_blank">Learn More</a>
    </div>
    <div class="w33 other">
      <div class="image" style="background-image:url('/images/portfolio/side_projects.jpg');"></div>
      <div class="content">
        <div class="name">Side Projects</div>
        <div class="skills">Web</div>
      </div>
      <button type="button" class="btn" data-toggle="modal" data-target="#side">Learn More</button>
    </div>
  </div>
</div>
