<div class="container">
  <h2 class="title">Resume</h2>
  <div class="divider"></div>
  <div class="sub-title">Skills</div>
  <div class="contents">
    <h3>Programming Languages</h3>
    <div id="language" class="slider-wrap">
      <div class="resume-slider">
        <div><img src="/images/skills/php.png" alt="PHP" title="PHP"></div>
        <div><img src="/images/skills/javascript.png" alt="JavaScript" title="JavaScript"></div>
        <div><img src="/images/skills/html.png" alt="HTML" title="HTML"></div>
        <div><img src="/images/skills/css.png" alt="CSS" title="CSS"></div>
        <div><img src="/images/skills/mysql.png" alt="MySQL" title="MySQL"></div>
        <div><img src="/images/skills/csharp.png" alt="C#" title="C#"></div>
        <div><img src="/images/skills/react.png" alt="React" title="React"></div>
        <div><img src="/images/skills/nodejs.png" alt="Nodejs" title="Nodejs"></div>
        <div><img src="/images/skills/python.png" alt="Python" title="Python"></div>
        <div><img src="/images/skills/mongodb-w.png" alt="MongoDB" title="MongoDB"></div>
      </div>
    </div>
    <h3>Working Knowledge</h3>
    <div id="knowledge" class="slider-wrap">
      <div class="resume-slider">
        <div><img src="/images/skills/jquery.png" alt="jQuery" title="jQuery"></div>
        <div><img src="/images/skills/ajax.png" alt="Ajax" title="Ajax"></div>
        <div><img src="/images/skills/git-w.png" alt="Git" title="Git"></div>
        <div><img src="/images/skills/laravel-w.png" alt="Laravel" title="Laravel"></div>
        <div><img src="/images/skills/npm.png" alt="npm" title="npm"></div>
        <div><img src="/images/skills/postman.png" alt="Postman" title="Postman"></div>
        <div><img src="/images/skills/googleapi.png" alt="Google APIs" title="Google APIs"></div>
        <div><img src="/images/skills/redux.png" alt="Redux" title="Redux"></div>
      </div>
    </div>
    <h3>Software</h3>
    <div id="software" class="slider-wrap">
      <div class="resume-slider">
        <div><img src="/images/skills/vscode.png" alt="VS Code" title="VS Code"></div>
        <div><img src="/images/skills/photoshop.png" alt="Photoshop" title="Photoshop"></div>
        <div><img src="/images/skills/filezilla.png" alt="FileZilla" title="FileZilla"></div>
        <div><img src="/images/skills/visualstudio.png" alt="Visual Studio" title="Visual Studio"></div>
        <div><img src="/images/skills/wamp.png" alt="WAMP Server" title="WAMP Server"></div>
        <div><img src="/images/skills/putty.png" alt="PuTTY" title="PuTTY"></div>
      </div>
    </div>
  </div>
  <div class="sub-title">Education</div>
  <div class="contents" id="edu">
    <div class="col-12 major">Advanced Diploma in Computer Programmer and Analyst (3 years) <span>Jan 2016 - Jan 2018</span></div>
    
    <div class="col-12 school">Niagara College Canada, Welland, Ontario</div>
    <div class="col-12 major">Bachelor of Arts (B. A.) in Statistics <span>Mar 1996 - Feb 2002</span></div>
    <div class="col-12 school">Inha University, Incheon, South Korea</div>
    <div class="col-12 major">Computer Science (CS50) <span>Mar 2020 - May 2020</span></div>
    <div class="col-12 school">HarvardX on edx.org</div>
    <div>
      <ul>
        <li>Introduction to Computer Science</li>
        <li>Web Programming with Python and JavaScript</li>
        <li>Mobile App Development with React Native</li>
      </ul>
    </div>
    <div class="col-12 major">Full-Stack Developer Curriculum <span>Apr 2019 - Jul 2019</span></div>
    <div class="col-12 school">freeCodeCamp, Online</div>
    <div>
      <ul>
        <li>Front End Libraries Certification</li>
        <li>Responsive Web Design Certification</li>
        <li>JavaScript Algorithms and Data Structures Certification</li>
      </ul>
    </div>
    <div class="col-12 major">English for Academic Preparation (EAP) <span>May 2015 - Dec 2015</span></div>
    <div class="col-12 school">Niagara College Canada, Niagara-on-the-Lake, Ontario</div>
  </div>
</div>
